* {
  font-family: 'Mukta', sans-serif;
}

.heading {
  background: linear-gradient(0deg, #7E27E3 35%, #B700FF 94%);
  color: white;
  height: 25%;
  width: 100%;
  margin: 0 auto;
}

.form-container {
  border: 1px solid white;
  border-radius: 4vmin;
  height: 40vh;
  width: 90vw;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 4px 2px white;
}

.l-form, .s-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  justify-self: center;
  gap: 2vmin;
  color: white;
}

.login {
  background-color: black;
  color: white;
  border: 1px solid white;
  border-radius: 2vmin;
  height: 5vh;
  width: 20vw;
  margin-top: 5vmin;
}

.s-form {
  height: 40vh;
}

